body {
    background-color: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
}

.tabs {
    overflow: hidden;
}

.tabs button {
    background-color: inherit;
    color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tabs  button:hover {
    background-color: #24243d;
}

.tabs button.active {
    background-color: #24243d;
}

h1 {
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
    font-size: 1em;
    display: inline-block;
    padding-right: 1em;
}

h2 {
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
    font-size: 1em;
    font-weight: normal;
}

a {
    color: #009900;
}